.transactionHistory {
  width: 777px;
  margin: 0 auto;
  margin-top: 33px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
thead {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: aqua;
  height: 55px;
}
tbody {
  text-align: center;
  color: gray;
  background-color: #fff;
}
.row {
  height: 55px;
}
/* (2n-1) */
.row:nth-child(odd) {
  background-color: #fff;
}
/* (2n) */
.row:nth-child(even) {
  background-color: rgb(187, 235, 219);
}
.type {
  text-transform: capitalize;
}
